<div class = "container">
  <div class = "id_container">
    ID: <%= article.id %>
  </div>

  <div class = "name_container">
    Title: <%= article.name %>
  </div>

  <div class = "body_container">
    Game: <%= article.body %>
  </div>
</div>
<div class = "back">
  <td><%= link_to "Back", articles_path %></td>
</div>